[Desktop Entry]
Name=PyCharm
Type=Application
Exec=/etc/pycharm/bin/pycharm.sh
Terminal=false
Icon=/etc/pycharm/bin/pycharm.png
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=PyCharm

